{% extends 'SteamProphet/base.html' %}
{% load humanize %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap4.min.css"/>
{% endblock %}

{% block extrascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.15/sorting/datetime-moment.js"></script>
    <script>
        $.fn.dataTable.moment('D. MMMM YYYY')
        $(document).ready(function(){
            $('table').DataTable({
                "pageLength": 20,
                "lengthMenu": [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
                "processing": true,
                "language": {
                    "thousands": ".",
                    "decimal": ","
                },
                "initComplete": function() {
                    $('.container').show()
                }
            })
        })
    </script>
{% endblock %}

{% block content %}
    <div class="container" style="display: none;">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Weeks</th>
                    <th>Release Date</th>
                    <th style="text-align: right">Players</th>
                    <th style="text-align: right">Price</th>
                    <th style="text-align: right">Score</th>
                </tr>
            </thead>
            <tbody>
                {% for game in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <a href="{% url 'game' pk=game.pk %}">{{ game.name }}</a>
                            {% if game.matured %}
                            *
                            {% endif %}
                        </td>
                        <td>{{ game.weeks|join:", " }}</td>
                        <td>{{ game.releaseDate|default:"N/A" }}</td>
                        <td style="text-align: right">{{ game.playersLowerBound|intcomma }}</td>
                        <td style="text-align: right">{{ game.price }} $</td>
                        <td style="text-align: right">{{ game.score|intcomma }} $</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <p>
            Games marked with an asterisk have matured and will earn no more points.
        </p>

    </div>
{% endblock %}
