{% extends 'SteamProphet/base.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap4.min.css"/>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="weekRow d-flex justify-content-between mb-4">
            <a href="{% url 'pick_overview' %}">All Picks</a>
            <a href="{% url 'pick_overview_by_week' 1%}">Week 1</a>
            <a href="{% url 'pick_overview_by_week' 2%}">Week 2</a>
            <a href="{% url 'pick_overview_by_week' 3%}">Week 3</a>
            <a href="{% url 'pick_overview_by_week' 4%}">Week 4</a>
        </div>

        {% if games %}
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Picked</th>
                    <th>Picked As Joker</th>
                </tr>
            </thead>
            <tbody>
                {% for game in games %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <a href="{% url 'game' pk=game.pk %}">{{ game.name }}</a>
                        </td>
                        <td>{{ game.picked }}</td>
                        <td>{{ game.pickedAsJoker }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      {% else %}
        No picks yet.
      {% endif %}
    </div>
{% endblock %}
