{% extends 'SteamProphet/base.html' %}
{% load humanize %}

{% block content %}
    <div class="container">
        <h2 class="mb-4">Player: {{ object.name }}</h2>
        <h2 class="mb-4">Score: {{ object.score|intcomma }}</h2>
        {% for week, picks in groupedPicks.items %}
            <h4>Week {{ week }}</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Pick</th>
                        <th style="text-align:right;">Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pick in picks %}
                    <tr>
                        <td><a href="{% url 'game' pk=pick.game.pk %}">
                        {% if pick.joker %}
                            <b>{{ pick.game.name }}</b>
                        {% elif pick.fallback%}
                            <i>{{ pick.game.name }}</i>
                        {% else %}
                            {{ pick.game.name }}
                        {% endif %}
                        {% if pick.game.matured %}*{% endif %}
                        </a></td>
                        <td style="text-align:right;">{{ pick.score|intcomma }} $</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
        Jokers are marked in <b>bold</b>. <br>
        Fallback games are marked in <i>italic</i>. <br>
        Picks marked with an asterisk have matured and will earn no more points.
    </div>
{% endblock %}
