{% extends 'SteamProphet/base.html' %}
{% load humanize %}

{% block content %}
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th style="text-align: right">Score</th>
                </tr>
            </thead>
            <tbody>
                {% for player in player_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'player' pk=player.pk %}">{{ player.name }}</a></td>
                        <td style="text-align: right">{{ player.score|intcomma }} $</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
