{% extends 'SteamProphet/base.html' %}
{% load humanize %}

{% block extrascripts %}
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script id="history" type="application/json">
        {{ player.history|safe }}
    </script>
    <script>
    const data = JSON.parse(document.getElementById('history').innerText)
    window.Highcharts.StockChart('chartContainer', {
        chart: {
            spacing: [0, 5, 0, 5]
        },
        navigator: {
            enabled: false
        },
        rangeSelector: {
            enabled: false
        },
        credits: {
            enabled: false
        },
        scrollbar: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            line: {
                dataGrouping: {
                    approximation: "high"
                }
            }
        },
        yAxis: {
            allowDecimals: false,
            min: 0
        },
        xAxis: {
            type: "datetime"
        },
        series: [{
            color: "#F44336",
            type: "line",
            name: "Score",
            pointStart: data[0].timestamp * 1000,
            pointInterval: 1000 * 60 * 60 * 24,
            data: data.map(function(item){
                return item.score
            })
        }]
    })

    window.Highcharts.StockChart('positionChartContainer', {
        chart: {
            spacing: [0, 5, 0, 5]
        },
        navigator: {
            enabled: false
        },
        rangeSelector: {
            enabled: false
        },
        credits: {
            enabled: false
        },
        scrollbar: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            line: {
                dataGrouping: {
                    approximation: "high"
                }
            }
        },
        yAxis: {
            allowDecimals: false,
            min: 1,
            max: {{ numberOfPlayers }},
            reversed: true
        },
        xAxis: {
            type: "datetime"
        },
        series: [{
            color: "#F44336",
            type: "line",
            name: "Position",
            pointStart: data[0].timestamp * 1000,
            pointInterval: 1000 * 60 * 60 * 24,
            data: data.map(function(item){
                return item.position || null
            })
        }]
    })
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="mb-4">{{ object.name }}</h2>
        <div class="row">
            <div class="col" id="chartContainer"></div>
            <div class="col" id="positionChartContainer"></div>
        </div>

        {% for week, picks in groupedPicks.items %}
            <h4>Week {{ week }}</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Pick</th>
                        <th style="text-align:right;">Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pick in picks %}
                    <tr>
                        <td><a href="{% url 'game' pk=pick.game.pk %}">
                        {% if pick.joker %}
                            <b>{{ pick.game.name }}</b>
                        {% elif pick.fallback%}
                            <i>{{ pick.game.name }}</i>
                        {% else %}
                            {{ pick.game.name }}
                        {% endif %}
                        {% if pick.game.matured %}*{% endif %}
                        </a></td>
                        <td style="text-align:right;">{{ pick.score|intcomma }} $</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
        Jokers are marked in <b>bold</b>. <br>
        Fallback games are marked in <i>italic</i>. <br>
        Picks marked with an asterisk have matured and will earn no more points.
    </div>
{% endblock %}
